@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: #451952;
    font-family: 'Ubuntu', sans-serif;
    color: #F39F5A;
}

header {
    text-align: center;
}

#title {
    margin: 0 auto;
    padding: 2rem;
}

#nav {
    list-style-type: none;
    margin: 5px auto;
    padding: 0;
    border-radius: 5px;
    background-color: #AE445A;
    width: 200px;
}

a {
    padding: 8px;
    font-size: 1.1rem;
}

li {
    margin: 0 auto;
    padding: 8px;
}

li a {
    color: #F39F5A;
    text-decoration: none;
}

li:hover {
    background-color: #662549;
}

#ballot-form {
    text-align: center;
    margin: 2rem auto;
    padding: 50px;
    border: 1px solid #F39F5A;
    border-radius: 5px;
    width: fit-content;
}

#ballot {
    margin: 2rem auto;
    border: 1px solid #F39F5A;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
}

#ballot h1 {
    text-align: center;
    margin-bottom: 3rem;
}

#responses p {
    font-weight: bold;
}
