@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Kalam:wght@300&display=swap');

/* BEE9E8 MINT GREEN */    
/* 62B6CB MOONSTONE */
/* 1B4965 INDIGO DYE */
/* CAE9FF COLUMBIA BLUE */
/* 5FA8D3 PICTON BLUE */

body {
    background-color: #CAE9FF;
    font-family: 'Cinzel', serif;
    color: #5FA8D3;
}

header {
    text-align: center;
}

#title {
    margin: 0 auto;
    text-decoration: underline;
    padding: 2rem;
}

#nav {
    list-style-type: none;
    margin: 5px auto;
    padding: 0;
    border-radius: 5px;
    background-color: #1B4965;
    width: 200px;
}

a {
    padding: 8px;
    font-size: 1.1rem;
}

li {
    margin: 0 auto;
    padding: 8px;
}

li a {
    color: #5FA8D3;
    text-decoration: none;
}

li:hover {
    background-color: white;
    border-radius: 5px;
}

#ballot-form {
    margin: 2rem auto;
    padding: 20px;
    border: 5px solid #1B4965;
    border-radius: 5px;
    width: 60%;
}

.new-ballot-inp {
    color: #1B4965;
    width: 500px;
    padding: 5px;
    background: none;
    border: 2px solid #1B4965;
    border-radius: 5px;
}

.responses-radio {
    margin: 8px 4px;
}

::placeholder {
    color: #1B4965;
    opacity: 0.5;
}

#ballot {
    margin: 2rem auto;
    border: 4px solid #1B4965;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
}

#ballot h1 {
    text-align: center;
}

.responses p {
    font-weight: bold;
}

.responses span {
    font-size: 1.2rem;
}

.responses {
    border: 1px solid white;
    padding: 0 15px;
    background: white;
    border-radius: 5px;
    margin: 10px 5px;
}

.response-field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}

.new-form-label {
    font-size: 1.2rem;
    font-weight: bold;
}

#create-ballot-btn, #add-field-btn, #vote-btn, #clipboard-btn {
    font-family: 'Cinzel', serif;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 6px 8px;
    color: #5FA8D3;
    text-decoration: none;
    background-color: #1B4965;
    width: fit-content;
    margin: auto;
}

#create-ballot-btn:hover, #add-field-btn:hover, #vote-btn:hover {
    background-color: white;
}


#add-field-btn {
    margin-bottom: 20px;
}

#time-left {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
}

#clip-btn-container {
    width: fit-content;
    margin: 0 auto;
}
